<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.areyoukittyme">
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Add the launch mode "single top" attribute to the MainActivity so that when you open-->
        <!--MainActivity using a notification, it will take you back to the already opened activity, not-->
        <!--generate a new one-->

        <activity android:name=".AdoptActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".StatsActivity"
                  android:label="@string/app_name"
                android:parentActivityName=".MainActivity">


            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".StoreActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

        </activity>
        <activity android:name=".VocabActivity"

            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabActivity"/>
        </activity>
        <activity android:name=".VocabReviewActivity"

            android:label="@string/app_name"
            android:parentActivityName=".VocabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabReviewActivity"/>
        </activity>
        <activity android:name=".VocabStudyActivity"

            android:label="@string/app_name"
            android:parentActivityName=".VocabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabStudyActivity"/>
        </activity>
        <activity android:name=".TimerActivity"
            android:label="@string/title_timer"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.areyoukittyme.MainActivity"/>
        </activity>
    </application>

</manifest>